*{padding: 0; margin: 0; box-sizing: border-box;}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.logo{
    font-size: 50px;
    margin-top: 6%;
    margin-left: 3%;
    letter-spacing: 5px;
    color: black;
    font-family: 'Signika', sans-serif;

}
.menu{
    margin-top: 40px;
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.h-text{
    max-width: 500px;
    position: absolute;
    top: 38%;
    left: 10%;
    z-index: -1;
}
.h-text h1{
    font-size: 5em;
    color: black;
    font-family: 'Crimson Text',serif;
    margin-bottom: 30px;
    margin-left: 35px;
    letter-spacing: 3px;
}
.h-text a{
    text-decoration: none;
    background-color: #01a3a4;
    color: white;
    padding: 10px 20px;
    font-family: 'bitter', serif;
    border-radius: 8px;
    margin-left: 35px;
}
#more{
    background: transparent;
    color: #01a3a4;
    box-shadow: 2px 0px 0px grey;
}
.icon{
    position: fixed;
    top: 34%;
    left: 1.7%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
.icon i{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin: 5px 0px;
    background: #01a3a4;
}
.icon i:hover{
    background: transparent;
    transition: 0.4s;
    border: 1px solid black;
    color: black;
}
.box{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 234, 167, 0.7);
    z-index: -2;
}
#nisha{
    width: 480px;
    height: 78%;
    position: absolute;
    right: 10%;
    top: 18%;
    z-index: -1;
    
}
h2{
    color: #01a3a4;
    font-size: 55px;
    margin-top: 30px;
    margin-left: 43%;
    margin-bottom: 30px;
}
#p-title{
    margin-left: 18%;
    margin-right: 18%;
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}
.skill-blue{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 163%;
    left: 10%;
    right: 10%;
    background: #01a3a4;
    z-index: -2;
}
#about_start{
    top: 40%;
}
.skill-yellow{
    width: 36%;
    height: 39%;
    position: absolute;
    top: 148%;
    right: 0;
    background: rgb(255, 234, 167);
    z-index: -1;
}
.skill-h{
    color: #01a3a4;
    font-size: 55px;
    margin-top: 55px;
    margin-left: 45%;
    margin-bottom: 10px;    
}
.tech{
    margin-left: 20%;
    margin-top:5.5%;
    margin-bottom: 3%;
    font-size: 50px;
}

.tech button {
    color: white;
    padding: 25px;
    font-size: 40px;
    margin-left: 50px;
    background: none;
    margin-bottom: 3%;
    border: rgb(255, 234, 167);

}
.tech button i{
    font-size: 70px;  
}

.tech button :hover{
    background: transparent;
    transition: 0.4s;
    border: none;
    color: rgb(255, 234, 167);
}
#blue :hover{
    color: #01a3a4;
}
.project{
    display:flex;
    padding-left:15%;
    padding-right: 15%;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .project button{
    width: 35%;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    margin-top: 10px;
    background: none;
    border-radius: 25px;
    border: none;
  }
  .project button:hover{
    box-shadow: 3px 3px 10px 0 rgb(255, 234, 167);
    transition: 0.5s;
  }
  .cap{
      font-size: 60px;
      color: #01a3a4;
      margin-left: 50%;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .skill-blue-1{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 373%;
    left: 10%;
    right: 10%;
    background: #01a3a4;
    z-index: -2;
}
.skill-yellow-1{
    width: 37%;
    height: 39%;
    position: absolute;
    top: 350%;
    left: 0;
    background: rgb(255, 234, 167);
    z-index: -1;
}
.edu_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.edu_title{
    
}